<div class="container" ng-controller="ModulesController" ng-init="init()">
	<button class="btn btn-primary btn-fab top right" ng-click="OpenModal()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<script type="text/ng-template" id="ModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Module Information</h3>
		</div>
		<div class="modal-body">
			<div class="row">			
				<div class="col-md-12">
					<div class="form-group">
						Name
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="ActiveModule.name"/>
					</div>
				</div>
			</div>
			<div class="row">			
				<div class="col-md-12">
					<div class="form-group">
						Link
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="ActiveModule.url"/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default pull-left" ng-click="closeModal()">Close</button>
			<button class="btn btn-primary" ng-click="confirmModal()">Confirm</button>
		</div>
	</script>
	<div class="col-md-4">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<div class="btn-group btn-group-sm pull-right" uib-dropdown>
					<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
					<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
				<label class="clear-fix">Modules</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item"
					ng-repeat="Module in Modules | filter:Search"
					ng-click="SetActiveModule(Module)"
					ng-class="{active:Module.id===activeModule.id}">
					<h4>{{Module.name}}</h4>
				</div>
			</div>
			<div class="list-group-item list-group-search-box">
				<div class="input-group">
					<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
					<input type="text" class="form-control" placeholder="Search" ng-model="Search"/>
					<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label class="clear-fix">Module Information</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header">
					<h5>Module Information</h5>
				</div>
				<div class="list-group-item">
					<dl class="dl-horizontal">
						<dt>ID</dt>
						<dd>{{activeModule.id}}</dd>
						<dt>Name</dt>
						<dd>{{activeModule.name}}</dd>
					</dl>
				</div>
				<div class="list-group-item list-group-header">
					<h5>Groups</h5>
				</div>
				<div class="list-group-item">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center">Name</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" ng-repeat="G in Gs">
								<td>{{G}}</td>
								<td><button class="btn btn-danger" ng-click="revoke($index)">Revoke</button></td>
							</tr>
							<tr class="text-center" ng-repeat="R in Rs">
								<td>{{R}}</td>
								<td><button class="btn btn-success" ng-click="grant($index)">Grant</button></td>
							</tr>
						</tbody>
					</table>
				</div>{{Message}}
			</div>
		</div>
	</div>
</div>