<div class="container" ng-controller="GroupsController" ng-init="init()">
	<button class="btn btn-primary btn-fab top right" ng-click="OpenModal()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<script type="text/ng-template" id="ModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Group Information</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						Group
					</div>				
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" placeholder="ID" class="form-control" ng-model="ActiveGroup.id" ng-disabled="Mode==='edit'"/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" placeholder="Name" class="form-control" ng-model="ActiveGroup.name"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						Modules
					</div>	
					<div>
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th class="text-center">Name</th>
									<th class="text-center"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="activeModule in activeModules">
									<td class="text-center">
										{{activeModule.name}}
									</td>
									<td class="text-center">
										<button class="btn btn-xs btn-danger" ng-click="removeModule($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>	
										<select class="form-control" ng-model="Tom" ng-options="module as module.name for module in Modules track by module.id"  >
										</select>
									</td>
									<td class="text-center">
										<button class="btn btn-xs btn-primary" ng-click="addModule()">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default pull-left" ng-click="closeModal()">Close</button>
			<button class="btn btn-primary" ng-click="confirmModal()">Confirm</button>
		</div>
	</script>
	<div class="col-md-4">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<div class="btn-group btn-group-sm pull-right" uib-dropdown>
					<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
					<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
				<label class="clear-fix">Groups</label>
			</div>
			<div class="list-group-canvas list-group-search-results">
				<div class="list-group-item"
					ng-repeat="Group in Groups | filter:Search"
					ng-click="SetActiveGroup(Group)"
					ng-class="{active:Group.id===activeGroup.id}">
					<h4>{{Group.id}}</h4>
				</div>
			</div>
			<div class="list-group-item list-group-search-box">
				<div class="input-group">
					<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
					<input type="text" class="form-control" placeholder="Search" ng-model="Search"/>
					<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label class="clear-fix" ng-hide="activeGroup">Group Information</label>
				<label class="clear-fix">{{activeGroup.id}}</label>
						<div class="pull-right" ng-show="activeGroup">
							<div class="btn-group btn-group-xs" uib-dropdown>
								<button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</button>
								<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
									<li><a ng-click="OpenModal(activeGroup,'edit')">Edit</a></li>
								</ul>
							</div>
							<button class="btn btn-xs btn-danger" ng-click="removeGroupInfo()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header" ng-show="activeGroup">
					<h5>Group Information</h5>
				</div>
				<div class="list-group-item" ng-show="activeGroup">
					<dl class="dl-horizontal">
						<dt>ID</dt>
						<dd>{{activeGroup.id}}</dd>
						<dt>Name</dt>
						<dd>{{activeGroup.name}}</dd>
					</dl>
				</div>
				<div class="list-group-item list-group-header" ng-show="activeGroup">
					<h5>Modules</h5>
				</div>
				<div class="list-group-item" ng-show="activeGroup">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center">Name</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="activeModule in activeModules">
								<td>{{activeModule.name}}</td>
							</tr> 
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>