<div class="container" ng-controller="UserController" ng-init="init()">
	<button class="btn btn-primary btn-fab top right" ng-click="OpenModal()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<script type="text/ng-template" id="ModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" ng-show="Mode==='add'">User Information</h3>
			<h3 class="modal-title" ng-show="Mode==='edit'">Edit</h3>
			<h3 class="modal-title" ng-show="Mode==='reset'">Reset password</h3>
			<h3 class="modal-title" ng-show="Mode==='activate'">Activate</h3>
			<h3 class="modal-title" ng-show="Mode==='deactivate'">Deactivate</h3>
		</div>
		<div class="modal-body">
			<div class="row" ng-show="Mode==='add' || Mode==='edit'">
				<div class="col-md-12">
					<div class="form-group">
						Name
					</div>						
				</div>
			</div>
			<div class="row" ng-show="Mode==='add' || Mode==='edit'">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" placeholder="First Name" class="form-control" ng-model="User.first_name" ng-blur="setSeriesCounter(seriesStart)"/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" placeholder="Middle Initial" class="form-control" ng-model="User.middle_initial"/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" placeholder="Last Name" class="form-control" ng-model="User.last_name"/>
					</div>
				</div>
			</div>
			<div class="row" ng-show="Mode==='add' || Mode==='edit'">
				<div class="col-md-6">
					<div class="form-group">
						Username
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						Access
					</div>
				</div>
			</div>
			<div class="row" ng-show="Mode==='add' || Mode==='edit'">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" placeholder="Username" class="form-control" ng-model="User.username"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<select class="form-control" ng-model="User.group_id">
							<option ng-repeat="Group in Groups">{{Group.id}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-show="Mode==='add' || Mode==='edit'">
						Password
					</div>
					<div class="form-group" ng-show="Mode==='reset'">
						Reset password
					</div>
				</div>
			</div>
			<div class="row" ng-show="Mode==='add' || Mode==='edit' || Mode==='reset'">
				<div class="col-md-12">
					<div class="form-group">
						<input type="password" class="form-control input-lg" ng-model="User.password"/>
					</div>
				</div>
			</div>
			<div class="row" ng-show="Mode==='activate'">
				<div class="col-md-12">
					<div class="form-group">
						Are you sure you want to activate this user?
					</div>
				</div>
			</div>
			<div class="row" ng-show="Mode==='deactivate'">
				<div class="col-md-12">
					<div class="form-group">
						Are you sure you want to deactivate this user?
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default pull-left" ng-click="closeModal()">Close</button>
			<button class="btn btn-primary" ng-click="confirmModal('add')" ng-show="Mode==='add'">Confirm</button>
			<button class="btn btn-primary" ng-click="confirmModal('edit')" ng-show="Mode==='edit'">Confirm</button>
			<button class="btn btn-danger" ng-click="resetModal()" ng-show="Mode==='reset'">Reset</button>
			<!-- <button class="btn btn-primary" ng-click="deactivateModal()" ng-show="Mode==='deactivate'">Confirm</button> -->
			<button class="btn btn-primary" ng-click="confirmModal('activate')" ng-show="Mode==='activate'">Confirm</button>
			<button class="btn btn-primary" ng-click="confirmModal('deactivate')" ng-show="Mode==='deactivate'">Confirm</button>
		</div>
	</script>
	<div class="col-md-6">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label class="clear-fix">Users</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item"
					ng-repeat="User in Users"
					ng-click="SetActiveUser(User)"
					ng-class="{active:User.id===activeUser.id}">
					<h4>{{User.last_name}}</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label class="clear-fix" ng-hide="activeUser">User Information</label>
				<label class="clear-fix">{{activeUser.id}}</label>
						<div class="pull-right" ng-show="activeUser">
							<div class="btn-group btn-group-xs" uib-dropdown>
								  <button class="btn btn-default dropdown-toggle" type="button"  uib-dropdown-toggle>
									<span class="glyphicon glyphicon-chevron-down"></span>
								  </button>
								  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
									<li><a ng-click="OpenModal(activeUser,'edit')">Edit</a></li>
									<li><a ng-click="OpenModal(activeUser,'reset')">Reset Password</a></li>
									<li ng-show="activeUser.status=='INACTIVE'">
										<a ng-click="OpenModal(activeUser,'activate')">Activate</a>
									</li>
									<li ng-show="activeUser.status=='ACTIVE'">
										<a ng-click="OpenModal(activeUser,'deactivate')">Deactivate</a>
									</li>
								  </ul>
							</div>
							<button class="btn btn-xs btn-danger" ng-click="removeUserInfo()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header" ng-show="activeUser">
					<h5>User Information</h5>
				</div>
				<div class="list-group-item" ng-show="activeUser">
					<dl class="dl-horizontal">
						<dt>Name</dt>
						<dd>{{activeUser.first_name}} {{activeUser.middle_initial}} {{activeUser.last_name}}</dd>
						<dt>Username</dt>
						<dd>{{activeUser.username}}</dd>
						<dt>Status</dt>
						<dd>{{activeUser.status}}</dd>
						<dt>Password</dt>
						<dd>{{activeUser.password}}</dd>
					</dl>
				</div>
				<div class="list-group-item list-group-header" ng-show="activeUser">
					<h5>Access Details</h5>
				</div>
				<div class="list-group-item" ng-show="activeUser">
					<dl class="dl-horizontal">
						<dt>Group ID</dt>
						<dd>{{activeGroup.name}}</dd>
					</dl>
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center">Modules</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="activeModule in activeModules">
								<td>{{activeModule.name}}</td>
							</tr> 
						</tbody>
					</table>
				</div>
				<div class="list-group-item" ng-hide="activeUser">
					<div class="well">
						<span>No Information</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>